{% extends 'base.html.twig' %}
{% block title %}Homepage{% endblock %}
{% block stylesheets %}
    <style>
        *
        {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

        html
        {
            height: 100%;
        }

        body
        {
            height: 100%;
            display: flex;
            flex-direction: column;

        }
        #main_menu
        {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

        }
        .menu-item
        {
            width: 150px;
            height: 150px;
            margin-bottom: 15px;
            margin-top: 15px;
            background-color: yellow;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
{% endblock %}

{% block body %}


    <div id="main_menu">
        <a href="{{ path("security_logout") }}">
            <button>Odhlásit se</button>
        </a>

        <a href="{{ path("nastaveni") }}">
            <div class="menu-item" id="nastaveni">

                Nastavení
            </div>
        </a>
        <a href="{{ path("napsat_zpravu") }}">
            <div class="menu-item" id="zpravy">

                Zprávy
            </div>
        </a>
        <a href="{{ path("vyhledat_uzivatele") }}">
            <div class="menu-item" id="vyhledavani">

                Vyhledávání
            </div>
        </a>
        <div class="menu-item" id="profil">

            Uživatelský profil
        </div>

        <a href="{{ path("trziste") }}">
            <div class="menu-item" id="trziste">

                Tržiště
            </div>
        </a>
        {% if app.user.role is same as("prodavajici") or app.user.role is same as("prodejna") or app.user.role is same as("organizace") %}
        <a href="{{ path("pridat_nabidku") }}">
            <div class="menu-item" id="pridat-nabidku">

            Přidat Nabídku
            </div>
        </a>
        {% endif %}
        <a href="{{ path("sprava") }}">
            <div class="menu-item" id="sprava-nabidek-rezervaci">

                Správa nabídek a rezervací

            </div>
        </a>
    </div>

{% endblock %}