{% extends 'base.html.twig' %}

{% block body %}


    <div>
        <form method="post" {{ path("securityLogin") }} id="sign-in-form">
            {% if error %}
                <div id="chyba">
                    {{ error.messageKey }}
                </div>
            {% endif  %}
            <label for="username" >Uzivatelske jmeno</label>
            <input required  pattern=".{4,}" type="text" id="username" name="username" value="{{ lastUsername }}">
            <br/>
            <label for="password" >Heslo</label>
            <input  required pattern=".{5,}" type="password" id="password" name="password">
            <br/>
            <input type="submit" name="submit-sign-in" value="prihlasit se" id="prihlas">
            <input type="hidden" name="csrf_token" value="{{ csrf_token("authenticate") }}">
            <input type="hidden" name="_target_path" value="{{app.request.get("redirect_to") }}">
        </form>


    </div>
{% endblock %}