{% extends 'base.html.twig' %}
{% block title %}Homepage{% endblock %}
{% block stylesheets %}
    <style>
        *
        {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

        html
        {
            height: 100%;
        }

        body
        {
            height: 100%;
            display: flex;
            flex-direction: column;

        }


        #nove-username
        {
            display: none;
        }
        #novy-email
        {
            display: none;
        }
        #nove-heslo
        {
            display: none;
        }
        #novy-telefon
        {
            display: none;
        }

        #nove-jmeno-organizace
        {
            display: none;
        }

    </style>
{% endblock %}

{% block body %}
    <a href="{{ path("login_uspesny") }}">ZPET</a>

    <h3>Moje jmeno:  </h3> {{ app.user.name }}
    <br/>
    <h3>Jmeno organizace:  </h3> {{ app.user.nameOfOrganisation }}
    <br/>
    <h3>Moje prijmeni:  </h3> {{ app.user.surname }}
    <br/>
    <h3>Moje Uzivatelske jmeno:  </h3> {{ app.user.login }}
    <br/>
    <h3>Moje role:  </h3> {{ app.user.role }}
    <br/>
    <h3>Můj e-mail:  </h3> {{ app.user.email }}
    <br/>
    <h3>Můj telefon:  </h3> {{ app.user.phone }}
    <br/>

        {% for message in app.flashes("info_organizace") %}
            <h3>{{ message }}</h3>
        {% endfor %}
        <a id="zmenit-jmeno-organizace">Změnit/Přidat jméno organizace</a>


        <form id="nove-jmeno-organizace" method="post" action="{{ path("nove_jmeno_organizace") }}">
            <label for="x">Zadejte jmeno organizace:</label>
            <input id="x" type="text" name="nove-jmeno-organizace">
            <br/>
            <input type="submit" value="Zmenit">
        </form>

        {% for message in app.flashes("info") %}
            <h3>{{ message }}</h3>
        {% endfor %}
        <a id="zmenit-username-odkaz">Změnit uživatelské jméno</a>


        <form id="nove-username" method="post" action="{{ path("nove_username") }}">
            <label for="x">Zadejte nové uživatelské jméno:</label>
            <input id="x" type="text" name="nove-username">
            <br/>
            <input type="submit" value="Zmenit">
        </form>


        {% for message in app.flashes("info_email") %}
            <h3>{{ message }}</h3>
        {% endfor %}
        <a id="zmenit-email-odkaz">Změnit email</a>
        <form id="novy-email" method="post" action="{{ path("novy_email") }}">
            <label for="x">Zadejte novy email:</label>
            <input id="x" type="email" name="novy-email">
            <br/>
            <input type="submit" value="Zmenit">
        </form>

        {% for message in app.flashes("info_heslo") %}
            <h3>{{ message }}</h3>
        {% endfor %}
        <a id="zmenit-heslo-odkaz">Změnit helo</a>
        <form id="nove-heslo" method="post" action="{{ path("nove_heslo") }}">
            <label for="y">Zadejte nové heslo:</label>
            <input id="y" type="password" name="nove-heslo">
            <br/>
            <label for="z">Zadejte nové heslo znovu:</label>
            <input id="z" type="password" name="nove-heslo-znovu">
            <br/>
            <input type="submit" value="Zmenit">
        </form>

        {% for message in app.flashes("info_telefon") %}
            <h3>{{ message }}</h3>
        {% endfor %}
        <a id="zmenit-telefon-odkaz">Změnit telefon</a>
        <form id="novy-telefon" method="post" action="{{ path("novy_telefon") }}">
            <label for="y">Zadejte své telefonní číslo:</label>
            <input id="y" type="text" name="novy-telefon">
            <br/>
            <input type="submit" value="Zmenit">
        </form>

    <h3>Mé adresy:</h3>
    <br/>
    {% for adresa in app.user.address %}
        <h3>--------------------------------</h3>
        <ul>
            <li>{{ adresa.popisAdresy }}</li>
            <li>{{ adresa.town }}</li>
            <li>{{ adresa.street }}</li>
            <li>{{ adresa.houseNumber }}</li>
            <li>{{ adresa.postCode }}</li>
        </ul>
    {% endfor %}

    <h3>Přidat další adresu:</h3>
    <div id="pridat-dalsi-adresu">
        {{ form_start(form_pridat_adresu) }}

        {{ form_label(form_pridat_adresu.popisAdresy, 'Popis Adresy') }}
        {{ form_widget(form_pridat_adresu.popisAdresy) }}

        {{ form_label(form_pridat_adresu.street, 'Ulice') }}
        {{ form_widget(form_pridat_adresu.street) }}

        {{ form_label(form_pridat_adresu.town, 'Mesto') }}
        {{ form_widget(form_pridat_adresu.town) }}

        {{ form_label(form_pridat_adresu.houseNumber, 'Cislo Domu') }}
        {{ form_widget(form_pridat_adresu.houseNumber) }}

        {{ form_label(form_pridat_adresu.postCode, 'PSC') }}
        {{ form_widget(form_pridat_adresu.postCode) }}

        {{ form_end(form_pridat_adresu) }}
    </div>





{% endblock %}
{% block javascripts %}
    <script>

        document.getElementById("zmenit-username-odkaz").addEventListener("click", zmenitUsername);
        document.getElementById("zmenit-email-odkaz").addEventListener("click", zmenitEmail);
        document.getElementById("zmenit-heslo-odkaz").addEventListener("click", zmenitHeslo);
        document.getElementById("zmenit-telefon-odkaz").addEventListener("click", zmenitTelefon);

        document.getElementById("zmenit-jmeno-organizace").addEventListener("click", zmenitJmenoOrganizace);


        function zmenitJmenoOrganizace()
        {
            document.getElementById("nove-jmeno-organizace").style.display = "block";

        }


        function zmenitTelefon()
        {
            document.getElementById("novy-telefon").style.display = "block";

        }

        function zmenitHeslo()
        {
            document.getElementById("nove-heslo").style.display = "block";

        }

        function zmenitEmail()
        {
            document.getElementById("novy-email").style.display = "block";

        }

        function zmenitUsername()
        {
            document.getElementById("nove-username").style.display = "block";

        }


    </script>
{% endblock %}