{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
*
{
box-sizing: border-box;
padding: 0;
margin: 0;
}

html
{
height: 100%;
}

body
{
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

form
{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
</style>
{% endblock %}

{% block body %}

    <a href="{{ path("login_uspesny") }}">ZPĚT</a>

    <div id="registration-form">
        {{ form_start(form) }}

            {{ form_label(form, 'Uživatelské jméno') }}
            {{ form_widget(form.login) }}

            {{ form_widget(form.plainPassword) }}

            {{ form_label(form, 'Křestní jméno') }}
            {{ form_widget(form.name) }}

            {{ form_label(form, 'Příjmení') }}
            {{ form_widget(form.surname) }}

            {{ form_label(form, 'Email') }}
            {{ form_widget(form.email) }}




        {{ form_end(form) }}
    </div>

{% endblock %}