{% extends 'base.html.twig' %}
{% block title %}Homepage{% endblock %}
{% block stylesheets %}
    <style>
        *
        {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

        html
        {
            height: 100%;
        }

        body
        {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        #misto
        {
            height: 600px;
            width: 300px;
            background-color: yellow;
        }


    </style>
{% endblock %}

{% block body %}


    <a href="{{ path("login_uspesny") }}">ZPĚT</a>

    <br/>

    <h3>Nerezervované nabídky:</h3>

    {% for nabidka in nerezervovaneNabidky %}
        <h5>-------------------------------------------------</h5>
        Nabídka je platná do: {{ nabidka.getOfferExpirationString() }}
        <br/>
        Původní cena produktu: {{ nabidka.price.boughtForPrice }}
        <br/>
        Současná cena produktu: {{ nabidka.price.currentPrice }}
        <br/>
        Sleva: {{ nabidka.price.discount }}
        <br/>
        Kde lze nabídku vyzvednout: {{ nabidka.pickingOption.address.toString }}
        <br/>
        Kategorie: {{ nabidka.product.category.nameOfCategory }}
        <br/>
        Značka: {{ nabidka.product.brand.brandName }}
        <br/>
        Jméno produktu: {{ nabidka.product.productName }}
        <br/>
        Datum expirace produktu: {{ nabidka.getProductExpirationString() }}
        <br/>
        Další informace: {{ nabidka.additionalInformation }}
        <br/>
    <a href="{{ path("smazat_nabidku", {id: nabidka.offerId}) }}"><button>Zrušit nabídku</button></a>
        <br/>

    {% endfor %}
    <h3>Rezervované nabídky</h3>
    {% for nabidka in rezervovaneNabidky %}
        <h5>-------------------------------------------------</h5>
        Nabídka je platná do: {{ nabidka.getOfferExpirationString() }}
        <br/>
        Původní cena produktu: {{ nabidka.price.boughtForPrice }}
        <br/>
        Současná cena produktu: {{ nabidka.price.currentPrice }}
        <br/>
        Sleva: {{ nabidka.price.discount }}
        <br/>
        Kde lze nabídku vyzvednout: {{ nabidka.pickingOption.address.toString }}
        <br/>
        Kategorie: {{ nabidka.product.category.nameOfCategory }}
        <br/>
        Značka: {{ nabidka.product.brand.brandName }}
        <br/>
        Jméno produktu: {{ nabidka.product.productName }}
        <br/>
        Datum expirace produktu: {{ nabidka.getProductExpirationString() }}
        <br/>
        Další informace: {{ nabidka.additionalInformation }}
        <br/>
        Uživatel, který si vaší nabídku rezervoval: {{ nabidka.reservation.user.login }}
        Jeho profil: <a href="#">odkaz</a>
        <a href="{{ path("zrusit_rezervaci", {id_rezervace: nabidka.reservation.reservationId}) }}"><button>Zrušit rezervaci</button></a>
        <br/>

    {% endfor %}

    <h3>Moje rezervace</h3>
    {% for rezervace in rezervace %}
        <h5>-------------------------------------------------</h5>
        <br/>
        Datum expirace rezervace: {{ rezervace.getExpirationString }}
        <br/>
        Rezervace je na nabídku: {{ rezervace.offer.toString() }}
        <br/>
        Místo vyzvednuti nabídky: {{ rezervace.offer.pickingOption.address.toString() }}
        <br/>
        <a href="{{ path("zrusit_rezervaci", {id_rezervace: rezervace.reservationId}) }}"><button>Zrušit rezervaci</button></a>



    {% endfor %}

{% endblock %}
{% block javascripts %}

{% endblock %}